body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:1046px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:118px;
  width:30px;
  height:30px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:228px;
  width:120px;
  height:40px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:148px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:377px;
  width:120px;
  height:40px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:268px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:114px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:20px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:488px;
  width:120px;
  height:40px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:417px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:76px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:528px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:397px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-5px;
  width:23px;
  height:10px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-154px;
  width:10px;
  height:159px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-154px;
  width:23px;
  height:10px;
}
#u82_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-159px;
  width:20px;
  height:20px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:716px;
  width:120px;
  height:40px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:608px;
  width:120px;
  height:40px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:648px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:756px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:140px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:123px;
  width:20px;
  height:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:891px;
  width:120px;
  height:40px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:normal;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:55px;
  width:181px;
  height:22px;
  display:flex;
  font-size:16px;
  text-align:center;
  line-height:normal;
}
#u88 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:323px;
  width:238px;
  height:80px;
  display:flex;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:430px;
  width:195px;
  height:80px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:397px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:25px;
  width:118px;
  height:12px;
  -webkit-transform:rotate(149deg);
  -moz-transform:rotate(149deg);
  -ms-transform:rotate(149deg);
  transform:rotate(149deg);
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:61px;
  width:118px;
  height:12px;
  -webkit-transform:rotate(172deg);
  -moz-transform:rotate(172deg);
  -ms-transform:rotate(172deg);
  transform:rotate(172deg);
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:49px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:248px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:60px;
  width:162px;
  height:16px;
  -webkit-transform:rotate(122deg);
  -moz-transform:rotate(122deg);
  -ms-transform:rotate(122deg);
  transform:rotate(122deg);
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:172px;
  width:162px;
  height:14px;
  -webkit-transform:rotate(144deg);
  -moz-transform:rotate(144deg);
  -ms-transform:rotate(144deg);
  transform:rotate(144deg);
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:124px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:508px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-28px;
  width:114px;
  height:12px;
  -webkit-transform:rotate(-158deg);
  -moz-transform:rotate(-158deg);
  -ms-transform:rotate(-158deg);
  transform:rotate(-158deg);
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-48px;
  width:114px;
  height:12px;
  -webkit-transform:rotate(179deg);
  -moz-transform:rotate(179deg);
  -ms-transform:rotate(179deg);
  transform:rotate(179deg);
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:628px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#555555;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-58px;
  width:138px;
  height:12px;
  -webkit-transform:rotate(-131deg);
  -moz-transform:rotate(-131deg);
  -ms-transform:rotate(-131deg);
  transform:rotate(-131deg);
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:-138px;
  width:138px;
  height:12px;
  -webkit-transform:rotate(-154deg);
  -moz-transform:rotate(-154deg);
  -ms-transform:rotate(-154deg);
  transform:rotate(-154deg);
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-108px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:447px;
  width:120px;
  height:40px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:430px;
  width:169px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:542px;
  width:99px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:648px;
  width:99px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u98 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:762px;
  width:547px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:277px;
  width:239px;
  height:60px;
  display:flex;
  font-size:14px;
  color:#555555;
  line-height:normal;
}
#u100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
