body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-143px;
  width:1081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10087 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:153px;
  width:486px;
  height:233px;
}
#u10088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u10088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u10088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u10088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:26px;
}
#u10089 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:0px;
  width:380px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u10089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u10089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:207px;
}
#u10090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:106px;
  height:207px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u10090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:207px;
}
#u10091 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:26px;
  width:380px;
  height:207px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u10091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:624px;
}
#u10092 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:96px;
  width:377px;
  height:624px;
  display:flex;
}
#u10092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10094 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:97px;
  width:375px;
  height:27px;
  display:flex;
}
#u10094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u10095 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:101px;
  width:375px;
  height:20px;
  display:flex;
}
#u10095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u10097 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:124px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u10097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10098 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:138px;
  width:16px;
  height:16px;
  display:flex;
}
#u10098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10099 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:176px;
  width:375px;
  height:50px;
  display:flex;
}
#u10099 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  padding:2px 2px 2px 30px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10101_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  padding:2px 2px 2px 30px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10101 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:186px;
  width:334px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u10101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u10101_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10101.disabled {
}
#u10102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10102 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:191px;
  width:20px;
  height:20px;
  display:flex;
}
#u10102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10103 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:270px;
  width:111px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10103 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10103_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10103.selected {
}
#u10103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10104 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:304px;
  width:111px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10104 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10104_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10104.selected {
}
#u10104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10105 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:338px;
  width:111px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10105 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10105_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10105.selected {
}
#u10105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
  text-align:left;
}
#u10106 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:227px;
  width:264px;
  height:491px;
  display:flex;
  font-size:14px;
  color:#D7D7D7;
  text-align:left;
}
#u10106 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10107 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:372px;
  width:111px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10107 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10107_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10107.selected {
}
#u10107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10108 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:237px;
  width:76px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10108_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:1px;
}
#u10109 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:272px;
  width:249px;
  height:1px;
  display:flex;
}
#u10109 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10110 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:237px;
  width:26px;
  height:15px;
  display:flex;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10111 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:288px;
  width:166px;
  height:36px;
  display:flex;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:1px;
}
#u10112 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:343px;
  width:249px;
  height:1px;
  display:flex;
}
#u10112 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10113 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:288px;
  width:26px;
  height:15px;
  display:flex;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10114 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:359px;
  width:151px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:1px;
}
#u10115 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:394px;
  width:249px;
  height:1px;
  display:flex;
}
#u10115 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10116 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:359px;
  width:26px;
  height:15px;
  display:flex;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10117 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:236px;
  width:111px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10117 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10117_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10117.selected {
}
#u10117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10118 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:410px;
  width:166px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#000000;
  line-height:normal;
}
#u10118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10119 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:410px;
  width:18px;
  height:15px;
  display:flex;
  color:#000000;
  text-align:right;
  line-height:normal;
}
#u10119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:1px;
}
#u10120 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:465px;
  width:249px;
  height:1px;
  display:flex;
}
#u10120 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10121 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:406px;
  width:111px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10121 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10121_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u10121.selected {
}
#u10121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1225F6;
  text-align:right;
}
#u10122 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:136px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1225F6;
  text-align:right;
}
#u10122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#435BD7;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:74px;
  width:140px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#435BD7;
}
#u10123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:2px;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:124px;
  width:650px;
  height:1px;
  display:flex;
}
#u10124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1225F6;
  text-align:right;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:136px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1225F6;
  text-align:right;
}
#u10125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:308px;
  width:53px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u10126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
