.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_2 {
}
._单元格 {
}
.ellipse {
}
.box_1 {
}
._连接线 {
}
.flow_shape {
}
._形状 {
}
.box_11 {
}
.box_21 {
}
._图片 {
  color:#000000;
}
.box_22 {
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
.image {
  color:#000000;
}
.radio_button {
  text-align:left;
}
.box_3 {
}
.shape1 {
}
.image1 {
}
.image2 {
  color:#000000;
}
.icon {
}
._默认样式 {
}
.box_31 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
.line {
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.table_cell {
}
.shape2 {
}
.paragraph1 {
  text-align:left;
}
.placeholder {
}
.link_button {
  color:#169BD5;
}
._复选框 {
  text-align:left;
}
._提交按钮 {
  color:#000000;
}
.text_field {
  color:#000000;
  text-align:left;
}
textarea, select, input, button { outline: none; }
