body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
